.menu-bar {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0px;
   
  }
  
  .menu-bar li {
    padding: 15px;
    cursor: pointer;
    color: white;
  }
  
  .menu-bar li:hover {
    background-color: #555;
  }
  
  .menu-bar li.active {
    background-color: #4caf50;
  }