

body{
  background-image: url("/src/assets/images/pexels-marvin-ozz-2474661.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin:0px;
  padding:0px;

}

#root{
  margin:auto;
  padding:auto;
  align-content: center;
  width:100%
}

